.main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; 
}

.card {
    flex: 0 1 23%;
    border: 2px solid black;
    margin: 10px 2px;
    padding: 2px;
}

.name {
    font-weight: bold;
    color: rgb(16, 16, 116);
}

.picture {
    width: 200px;
    height: 230px;
}